.UsersTable-button {
    text-transform: capitalize !important;
}

.UsersTable-paginagion {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.UsersTable-typo {
    margin: 6px 15px 0px 15px !important;
}

.UsersTable-tableContainer {
    height: 315px !important;
    border: 1px solid grey;
}