.WalkingTable-root {
    max-width: 335px;
    max-height: 490px;
    margin-right: 20px;
    border: solid 1px #1C2025;
    box-shadow: 2px 2px 2px 1px #1C2025;
}

.WalkingTable-button {
    background-color: #EC174F !important;
    border-radius: 3px !important;
    max-width: 14px;
    max-height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WalkingTable-buttonDisabled {
    background-color: #990F31 !important;
    border-radius: 3px !important;
    max-width: 14px;
    max-height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WalkingTable-paginagion {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.WalkingTable-typo {
    margin: 6px 15px 0px 15px !important;
}

.WalkingTable-tableContainer {
    height: 315px !important;
}

.WalkingTable-headerCell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.WalkingTable-headerCellTypo {
    color: white;
    margin-right: 12px !important;
    font-size: 14px !important;
}

.WalkingTable-icon {
    color: white;
    font-size: 14px !important;
}

.MuiTableRow-head {
    background-color: #1C2025;
    border: none !important;
}