html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #1C2025;
    padding-left: 20px;
}

.headerTypo {
    color: white;
    font-weight: bold;
}